services:
    kafka:
      image: confluentinc/cp-kafka:7.5.0
      container_name: binoculars-kafka
      hostname: kafka
      ports:
        - "9092:9092"      # internal network traffic
        - "29092:29092"    # host access
      environment:
        # Required KRaft settings
        KAFKA_NODE_ID: 1
        KAFKA_PROCESS_ROLES: broker,controller
        KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093,PLAINTEXT_HOST://:29092
        KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
        KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,CONTROLLER:PLAINTEXT
        KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
        KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
        CLUSTER_ID: "GBwnjLHvQqC9PRmFQ_GtRA"


        # Broker basics
        KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
        KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0

        # Optional but good for local testing
        KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
        KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
        
      volumes:
        - kafka-data:/var/lib/kafka/data
      networks:
        - kafka-network
      restart: unless-stopped
      
    kafka-ui:
      container_name: kafka-ui
      image: provectuslabs/kafka-ui:latest
      depends_on:
        - kafka
      ports:
        - "8080:8080"
      environment:
        KAFKA_CLUSTERS_0_NAME: local
        KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
        DYNAMIC_CONFIG_ENABLED: 'true'
      networks:
        - kafka-network
  
networks:
  kafka-network:
    driver: bridge  

volumes:
  kafka-data:
    driver: local